<div class="nav">
    <div class="link logo">
        Tech News Notebook
    </div>
    <div class="link toggle">
        <i class="fas fa-bars"></i>
    </div>
    <div class="nav-items">
        <div class="link">
            My Library
        </div>
    </div>
    <div class='nav-items nav-right'>
        <div class="link">
            Find
        </div>
        <div class="link">
            Clear
        </div>
    </div>
</div>