<div class="nav">
    <div class="logo">
        <a href="/">Tech News Notebook</a>
    </div>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <div class="nav-items">
        <div class="link">
           <a href="/library" >My Library</a>
        </div>
    </div>
    <div class='nav-items nav-right'>
        <div class="link">
            <a href="/find" >Find Articles</a>
        </div>
        <div class="link">
            <a href="#" >Clear</a>
        </div>
    </div>
</div>