{{> nav}}
    <div class="flex-hero">
        <div class="hero-content">
            <div id="spinner"></div>
            <h1>Tech News Notebook</h1>
            <h2>Tech News Scraped from BBC.com</h2>
        </div>
    </div>
