* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}
/* navbar */
.nav {
    border: 1px solid black;
    display: flex;
    padding-top: 10px;
}

.logo {
    font-family: 'Sigmar One', cursive;
    font-size: 1.6rem;
    padding: 0 10px;
}

.nav-items {
    display: flex; 
}

.link {
    border: 1px solid black;
    font-family: 'Righteous', cursive;
    font-size: 1.2rem;
    align-self: flex-end;
}

.link a {
    text-decoration: none; 
    padding: 0 10px;
}

.nav-right {
    margin-left: auto;
}

.toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* navbar */
    .nav {
        padding-top: 4px;
    }
    .nav-items,
    .nav {
        flex-direction: column;
    }
    .nav-items {
        display: none;
    }
    .nav-right {
        margin-left: 0;
    }
    .toggle {
        font-size: 1.4rem;
        padding-right: 4px;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .toggle-show {
        display: flex;
    }
    .link {
        width: 100%;
        text-align: right; 
    }
}


/* ----
font-family: 'Sigmar One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Righteous', cursive;
font-family: 'Signika', sans-serif;
---- */